version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: radar_db
      POSTGRES_USER: radar_user
      POSTGRES_PASSWORD: radar_pass
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  db-data:
